html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
#container{
	padding:7% 0px 0px 0px;
}
#container > *{
    display:inline-block;
}
.blurb{
    display:none;
}
.item{
    width:17%;
    height:23%;
	padding:0em 1em 0em 1em;
	border:4px;
}
.poster{
    width:100%;
    float:none;
}
.poster:hover + .blurb{
    display:block;
}

